@import url('https://fonts.googleapis.com/css?family=Tajawal:200');

h5 {
    font-family: 'Tajawal', sans-serif;
    font-size: 35px;
    color: #222;
    text-align: center;    
}

.header-center {
    color: #222;
    text-align: center;
    padding-bottom: 1rem;
    margin-top: 11%;
    margin-bottom: 1rem;
}

.wrap-text{
    width: 95%;
    font-family: 'Tajawal', sans-serif;
    font-size: 23px;
    padding-top: .6rem;
    text-align: left;
    line-height: 2rem;
}

.wrap-text-center {
    width: 55%;
    font-family: 'Tajawal', sans-serif;
    font-size: 23px;
    padding-top: .6rem;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    /* text-indent: 2rem; */
}

.drop-cap {
    float: left;
    width: 0.7em;
    font-size: 300%;
    line-height: 80%;
}

.project-width {
    width: 500px;
    padding-right: 2rem;
    padding-left: 2rem;
}

.about-columns {
    column-count: 3;
    column-width: 20%;
    line-height: 2rem;
}

.image-examples {
    max-width: 500px;
    min-width: 140px;
    border-radius: 30px;
    margin-top: 2rem;
  }

.presentation {
    width: 410px;
    height: 260px;
}

.pinboard {
    margin-top: 13rem;
}

.center {
    text-align: right;
    font-size: 23px;
}
/* 
.about-me-border {
    border: thin solid #222;
    padding: 2rem;
} */

.flexbox-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    /* margin-left: 10%; */
}

.zoom {
    transition: transform 1s;
    margin: 0 auto;
}

.zoom:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}


.readmore-box {
    max-height: 120px;
    position: relative;
    overflow: hidden;
  }

.readmore-box .read-more { 
    position: absolute; 
    bottom: 0; 
    left: 0;
    width: 55%; 
    text-align: center; 
    margin: 0; padding: 30px 0; 
}


.project-links {
    color: #222;
    text-decoration: dotted underline;
}



.links:hover,
.project-links:hover {
    cursor: pointer;
    color: #FBD2D7;
    font-weight: bolder;
}
