@import url('https://fonts.googleapis.com/css?family=Tajawal:200');


h5 {
    font-family: 'Tajawal', sans-serif;
    font-size: 32px;
    color: #222;
    text-align: center;    
}

.top-margin {
    margin-top: 12%;
}

.header-left{
    padding-top: 2.5rem;
    text-align: left;
    margin-left: 10%;
}

.header-right {
text-align: right;
margin-right: 14%;
}

.flexbox-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 400px;
    margin: auto;
}


.image-large {
    max-width: 55%;
    min-width: 35%;
    border-radius: 35px;
    margin-top: 5rem;
  }