@import url('https://fonts.googleapis.com/css?family=Tajawal:200');


.footer-icons {
    width: 20px;
  }

  .footer-flex-container {
    display: flex;
    flex-flow: row wrap;
    width: 200px;
    justify-content: space-around;
    float: right;
    margin-top: .3rem;
  }

